<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Signin</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="#" th:href="@{/css/login.css}" rel="stylesheet" />
    <link href="#" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
  <div class="container" >
    <form class="form-signin" action="#" th:action="@{/logincheck}" method="POST">
      <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
      <h2 class="form-signin-heading">Sign in</h2>
      <label for="username" class="sr-only">Username</label>
      <input type="text"  class="form-control" placeholder="Username" name="username" id="username"/>
      <label for="password" class="sr-only">Password</label>
      <input type="password" class="form-control" placeholder="Password" name="password" id="password"/>
      <div th:if="${error != null}" class="alert alert-danger" role="alert">Invalid username or password</div>
      <div th:if="${logout != null}" class="alert alert-info" role="alert">Logout successfully</div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">
        <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Sign in
      </button>
    </form>
  </div>
</body>
</html>